

body {
    margin:0;
    height:100%;
    background-color: rgb(232, 232, 232);
}


main, section {
    margin-left: 40px; 
    margin-right: 40px; 
}

/* NEW SECTION */

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: white;
    padding:0 50px;
    padding-bottom: 10px;
    position: sticky;
    top:0;
    z-index: 999;
}

h1 {
    color:rgb(205, 90, 109)
}

nav {
    display: flex;
    gap: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

a {
    text-decoration:none;
    color: white;
}

button {
    color:white;
    background-color: rgb(205, 90, 109);
    padding:10px;
    font-size: medium;
    font-weight: bold;
    border: 2px solid rgb(205, 90, 109);
    border-radius: 2px;
}

/* NEW SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.mainImg {
    width:165vh ;
    
}

h2 {
    font-family:sans-serif;
    font-weight: 350;
    font-size: 2.7em;
}

.mainText {
    text-align: center;
    margin: 0 auto;
    padding: 50px 230px 50px 230px;
    margin-top: 30px;
    margin-bottom: 30px;

}


p {
    font-size: large;
    font-family:sans-serif;
    font-weight: 100;
}

/* NEW SECTION */

.categories {
    margin-top: 50px;
    margin-bottom: 50px;
}


.smallGridText {
    margin-top: -10px;
    margin-bottom: -5px;
}

.figLarge {
    font-size: larger;
    font-family:sans-serif;
    padding: 60px 20px 0 20px;
}

.figSmall {
    font-size: larger;
    font-family:sans-serif;
    padding: 0 20px 20px 20px;
}

.h3Big {
    font-family: sans-serif;
    font-weight: 550;
    font-size: xx-large;
}

.h3Small {
    font-family: sans-serif;
    font-weight: 550;
    font-size: x-large;
}

.grid1 {
    display: grid;
    grid-template-columns: 100px, 100px, 100px, 100px, 100px;
    grid-template-rows: 100px, 100px, 100px, 100px;
}

.reformerPilates {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    background-color: white;
}

.pilatesImg {
    width: 98vh;

}

.gym {
    grid-column: 4 / 6;
    grid-row: 1  / 3;
    background-color: white;
}

.gymImg {
    width:50vh;
}

.yoga {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    background-color: white;
}

.yogaImg {
    width:50vh;
}


.grid2 {
    display: grid;
    grid-template-columns: 100px, 100px, 100px, 100px, 100px;
    grid-template-rows: 100px, 100px, 100px, 100px;
}

.boxing {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: white;
}

.boxingImg {
    width: 50vh;

}

.oneMembership {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    border:1px solid darkgray;
    padding:25px;
    background-color: black;
    color: white;
}

.oneMembershipTitle {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 300;
}


.gridTraining {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
    background-color: white;
}

.gridTrainingImg {
    width: 98vh;

}


/* NEW SECTION */

.classes {
    display: flex;
    padding: 0 20px 0 20px;
    margin-top: 150px;
    margin-bottom: 150px;

}

.classesText {
    padding: 80px 140px 80px 80px;
    text-align: right;
}

h4 {
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(205, 90, 109);
}

.classesImg {
    width:70vh;
}

/* NEW SECTION */

.personalT {
    display: flex;
    padding: 0 20px 0 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.personalTImg {
    width:70vh;
}

.personalTText {
    padding: 80px 140px 80px 80px;
    text-align: left;
    background-color: white;

}

/* NEW SECTION */

.membership {
    text-align: center;
    margin-bottom: 150px;
}

.membershipT {
    margin-top: -15px;
    margin-bottom: -15px;
}

.membershipImg {
    width:47vh;

}

.membershipList {
    font-size: larger;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: left;
    padding-left: 60px;
}


.membershipP {
    padding-bottom: 20px;
}

.membershipBoxes {
    display: flex;
    justify-content: center;
    padding:80px 0 80px 0;
    gap:50px;
}

.box1, .box2, .box3 {
    background-color: white;

}


/* NEW SECTION */

.freeTrial {
    display: flex;
    margin-bottom: 150px;
}

.freeTrialImg {
    width: 80vh;
}

.freeTrialForm {
   display: flex;
   flex-direction: column;
   padding: 40px 100px;
   background-color: white;
}

.freeTrialP {
    margin-top: -20px;
    margin-bottom: 60px;
}

.freeTrialForm input, .freeTrialForm select {
    padding:10px;
    display: block;
    box-sizing: border-box;
    width:100%;
    margin-bottom: 15px;
}

.freeTrialPolicy {
    font-size: large;
    font-family: sans-serif;
    color:rgb(137, 135, 135);
}



/* NEW SECTION */

footer {
    background-color: black;
    color:white;
    padding:100px 50px 100px 50px;
}

.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.linkFooter {
    display: flex;
}

li {
    list-style-type: none;
    padding-bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap:10px;
}


.subTitle {
    margin-bottom: -20px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: x-large;
}

input {
    padding:10px;
}


.copyright {
    text-align: center;
    margin-bottom: -100px;
    margin-top: 150px;
    color:rgb(218, 217, 217);
}




